* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma;
}

body {
    background: linear-gradient(to right, rgb(20, 20, 20),
    rgb(50, 50, 50), rgb(20, 20, 20));
    color: white;
}

header {
    height: 12vh;
    background: rgb(20, 20, 20);
    border-bottom: 3px solid rgb(55, 55, 55);
}

nav.menu {
    height: 100%;
    width: 100%;
}

ul {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: inline;
    padding: 1em 0em;
    list-style: none;
    font-size: 150%;
    font-weight: bold;
}
/* 
li:nth-of-type(odd) {
    border: 4px solid transparent;
    background: linear-gradient(to top, black, black);
} */

li:nth-of-type(even) {
    width: 1px;
    height: 60%;
    background-color: rgb(180, 180, 180);
    margin: 0px 10px;
}

a {
    position: relative;
    /* width: 100%;
    height: 100%; */
    padding: 1em 2.5em;
    text-decoration: none;
    color: white;
}

span {
    position: relative;
    color: white;
    z-index: 10;
}

a::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(red 0deg, red 22deg,
    transparent 22deg, transparent 85deg, red 180deg);
    opacity: 0;
    mask-image: radial-gradient(transparent 55%, white 55%);
    transition: opacity 0.5s;
}

a:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    /* mask-image: radial-gradient(transparent 55%, white 55%); */
    opacity: 1;
}

a::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(20, 20, 20);
    mask-image: radial-gradient(transparent 55%, white 55%);
}

/* li:nth-of-type(odd):hover {
    background: linear-gradient(to top, black, black) padding-box,
                linear-gradient(to bottom, yellow, yellow) border-box;
} */

a:hover {
    color: rgb(180, 180, 180);
}

footer {
    padding: 3em;
    color: white;
    background-color: #1313b4;
    margin: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    border-top: 1em solid black;
}